@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;500&family=Roboto:wght@100&display=swap");

$base-color: #0151ff;
$primary-color: rgb(41, 41, 41);
.nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 20px 30px;
    position: fixed;
    width: 100%;

    .brand_Name {
        display: flex;

        h1 {
            font-family: "Poppins", sans-serif;
            position: relative;
            padding-left: 30px;
            font-size: 37px;
            color: $primary-color;
            

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: $base-color;
                height: 27px;
                width: 24px;
            }
        }
        p {
            margin-left: 10px;
            margin-top: 3px;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: .5px;
        }
    }
    .menu {
        width: 35%;

        ul {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            justify-content: space-around;

            li {
                font-size: 14px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                font-family: "Poppins", sans-serif;
                font-weight: 100;
                text-transform: uppercase;
                color: $primary-color;

                &:hover {
                    color: $base-color;
                }

                &:first-child {
                    color: $base-color;
                }
            }
        }
    }
    @media screen and (max-width: 790px) {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;

        .menu {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {
        .brand_Name {
            h1 {
                font-size: 30px;
            }
        }
    }

    @media screen and (max-width: 448px) {
        .brand_Name {
            h1 {
                font-size: 25px;
            }
        }
    }
}
